body{
  background-color: darkslateblue;
}
#readmore{
  background-color: blue;
}
#readmore:hover{
  background-color: red;
}
.card-body{
  background-color: rgb(156, 230, 255);
  /* color: aliceblue; */
}
h1{
  background-color:  rgb(156, 230, 255);
  color: darkblue;
}
h2{
  background-color:  rgb(156, 230, 255);
  color: black;
}